*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
gradle.properties
.gitignore
.stfolder/syncthing-folder-b8a200.txt

# Keystore and signing files
*.jks
*.keystore
signing-keystore.jks
/app/nightly/ClockDesk-nightly-arm64-v8a-v2.0.0-rc2-nightly-515e939.apk
